body{
background-color:beige;
}


h1{
    width:2px;
    height:3px; 
}


.form
{
   
        border:2px solid black;
        width:80vh;
        height:30vh;
        margin-left:500px;
        margin-top:160px;
        box-shadow: 3px 5px 8px #d880d1;
        
}

div button
{
   float:right;
   margin-right:220px;
}
.box1{
    box-shadow: 2px 1px 2px #011218ea;
}
